.button {
  display: block;
  width: 30rem;
  max-width: 95%;
  margin: 0 auto;
  outline: none;
  border: 0.2rem solid #456899;
  background-color: #84afeb;
  height: 3.5rem;
  border-radius: 0.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.6rem;
  &:hover,
  &:focus {
    background-color: darken(#84afeb, 20%);
  }
}
