.container {
  margin-left: auto;
  position: relative;
}

.icon-container {
  padding: 0;
  border: 0;
  height: 3rem;
  width: 3rem;
  background: none;
}
.icon {
  height: 0.5rem;
  background-color: black;
  width: 3rem;
  transition: background-color 0.4s ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 0.5rem;
    width: 3rem;
    background-color: black;
    transition: transform 0.4s ease-in-out;
  }
  &::after {
    bottom: 0.2rem;
    transform-origin: center left;
  }
  &::before {
    top: 0.2rem;
    transform-origin: center left;
  }
}

.icon-open {
  background-color: transparent;
  &::after {
    transform: rotate(-45deg);
  }
  &::before {
    transform: rotate(45deg);
  }
}

.menu-list {
  position: absolute;
  width: 25rem;
  background-color: var(--primary-bg-colour);
  padding: 2rem;
  margin-top: 2rem;
  border: 0.1rem solid var(--secondary-colour);
  border-top-width: 1rem;
  list-style-type: none;
  transform: translateX(100%);
  right: -2rem;
  transition: transform 0.4s ease-in-out;
}

.menu-list-open {
  transform: translateX(0%);
}

.menu-list-item:not(:last-of-type) {
  margin-bottom: 1rem;
}
